<!-- <section class="flex justify-between px-4 mx-auto max-w-screen-xl">
    <section class="bg-white dark:bg-gray-900  mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert " >
        <div class="grid "*ngFor="let agency of agencies" >
            <div   class=" lg:mt-0 lg:col-span-5 lg:flex">
                <img [src]=agency.pictures[0].url width="100" alt="mockup">
            </div> 
            <div class="mr-auto place-self-center lg:col-span-7">
                <h1 class="max-w-2xl mb-4 text-l font-extrabold tracking-tight leading-none md:text-xl xl:text-xl dark:text-white">{{agency.name}}</h1>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">{{agency.description}}</p>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">{{agency.adresse}}</p>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">{{agency.telephone}}</p>
                <a   class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
    De plus, detail 
                    <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
               
            </div>
                           
        </div>
    </section>
</section> -->
<section class="flex justify-between px-4 mx-auto max-w-screen-xl">
    <section class="bg-white dark:bg-gray-900 mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
        <div class="grid" *ngFor="let agency of agencies">
            <div class="lg:mt-0 lg:col-span-5 lg:flex">
                <img [src]="agency.pictures[0]?.url" width="100" alt="mockup">
            </div>
            <div class="mr-auto place-self-center lg:col-span-7">
                <h1 class="max-w-2xl mb-4 text-l font-extrabold tracking-tight leading-none md:text-xl xl:text-xl dark:text-white">{{agency.name}}</h1>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"><b  class="max-w-2xl mb-2 text-l font-extrabold tracking-tight leading-none md:text-xl xl:text-xl dark:text-white">  <img src="../assets/act.png" width="30"></b>  {{agency.activity}}</p>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"><strong class="max-w-2xl mb-4 text-l font-extrabold tracking-tight leading-none md:text-xl xl:text-xl dark:text-white"><img src="../assets/time.png" width="30"></strong> Heures de travail : Du lundi au vendredi, de 8h00 à 17h00; le samedi de 8h00 à 13h00.
                </p>
                <!-- <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"><strong class="max-w-2xl mb-4 text-l font-extrabold tracking-tight leading-none md:text-xl xl:text-xl dark:text-white"></strong> {{agency.description}}</p> -->
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"><strong class="max-w-2xl mb-4 text-l font-extrabold tracking-tight leading-none md:text-xl xl:text-xl dark:text-white"><img src="../assets/map.png" width="30"></strong> {{agency.adresse}}</p>
                <!-- <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"><strong class="max-w-2xl mb-4 text-l font-extrabold tracking-tight leading-none md:text-xl xl:text-xl dark:text-white"></strong> {{agency.codePostal}}</p> -->
                <!-- <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"><strong class="max-w-2xl mb-4 text-l font-extrabold tracking-tight leading-none md:text-xl xl:text-xl dark:text-white">Ville: <img src="../assets/map.png" width="30"></strong> {{agency.city}}</p> -->
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"><strong class="max-w-2xl mb-4 text-l font-extrabold tracking-tight leading-none md:text-xl xl:text-xl dark:text-white"> <img src="../assets/email.png" width="30"></strong> {{agency.email}}</p>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"><strong class="max-w-2xl mb-4 text-l font-extrabold tracking-tight leading-none md:text-xl xl:text-xl dark:text-white">  <img src="../assets/phone.png" width="30"></strong> {{agency.telephone}}</p>
            </div>
        </div>
    </section>
</section>
