<section class="flex justify-between px-4 mx-auto max-w-screen-xl">
    <section
      class="bg-white dark:bg-gray-900 mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert"
    >
      <div class="grid" *ngFor="let blog of blogs">
        <div class="lg:mt-0 lg:col-span-5 lg:flex">
          <img src="{{blog.urlImage}}" alt="mockup" />
        </div>
        <div class="mr-auto place-self-center lg:col-span-7">
          <h1
            class="max-w-2xl mb-4 text-l font-extrabold tracking-tight leading-none md:text-xl xl:text-xl dark:text-white"
          >
            {{blog.title}}
          </h1>
          <p
            class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
          >
            {{blog.description}}
          </p>
          <!-- <a   class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
      De plus, detail 
                      <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  </a> -->
          <button
            (click)="isOpen = true"
            class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
          >
          
            Harba Reservation

          </button>
          <br>
        </div>
      </div>
      <div *ngIf="isOpen" class="fixed top-0 left-0 flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50">

          <!-- Modal Content -->
    <div class="bg-white p-8 rounded shadow-xl w-1/2">
      <div class="text-xl font-bold mb-4">Reservation Harba Club</div>
      <div
        *ngIf="show"
        class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
        role="alert"
      >
        <span class="font-medium">{{message}}</span>
      </div>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          
          <div class="mb-4">
            <label for="textInput" class="block text-gray-700">prix:</label>
            <input
              type="text" id="textInput" formControlName="prix"name="textInput" class="w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:border-blue-500"
            />
          </div>
          <button
            class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
          >
            Harba Reservation
            <svg
              class="w-5 h-5 ml-2 -mr-1"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
          <button
            class="text-blue-500 hover:text-blue-700"
            (click)="isOpen = false"
          >
            Ferme
          </button>
        </div>
      </form>
  
 
    </div>
      </div>
    </section>
  

  </section>
  